
.titulo-parte5{
    display: flex;
    justify-content: center;
}
.titulo-parte5 h1{
    color: black;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.formacao1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    width: 25rem;
    background-color: #202024;
    height: 11rem;
    align-items: center;
    border: 2px solid rgb(85 85 85 / 72%);
    border-radius: 1rem;
}

.tudo-parte5{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.quebra{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 4rem;
}
.n1e{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    max-width: 23rem;
    text-align: center;
}

.n2e, .n3e{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    max-width: 21rem;
}

.block1-q{
    display: flex;
    justify-content: center;
}

.block2-q{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.emoje img{
    width: 17rem;
    height: 100%;
    margin-left: 8rem;
}

.emoje2 img{
    width: 11rem;
    height: 100%;
    margin-top: -8.3rem;
    margin-left: -2rem;
}
