.conteiner-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* para mobile */
.menu-section{
    display: block;
}

.one, .two, .three{
    transition-duration: 0.5s;
    background-color: var(--quaternary-color);
    height: 3px;
    width: 100%;
    margin: 6px auto;
}

.menu-toggle{
    width: 30px;
    height: 35px;
    margin-right: 33px;
    display: none;
}

.menu-section.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section.on ul{
    display: block;
    text-align: center;
    width: 100%;
}
.menu-section.on ul a{
    font-size: 20px;
    line-height: 5rem;
}

.menu-section.on .menu-toggle{
   position: absolute;
   right: -20px;
   top: 9px;
}

.menu-section.on .menu-toggle .one{
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-section.on .menu-toggle .two{
    opacity: 0;
}

.menu-section.on .menu-toggle .three{
    transform: rotate(-45deg) translate(5px, -6px);
}

/* fim */


.ulmenu{
    display: flex;
    align-items: center;
    width: 42rem;
    justify-content: space-between;
}

.ulmenu li{
    list-style: none;
}

.texto-menu a{
    text-decoration: none;
    color: var(--quaternary-color);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
}

.texto-menu a:hover{
    color: var(--secondary-color);
}

.logo h1{
    font-family: var(--font-family);
    color: var(--quaternary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.logo-cor{
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
}