@media (max-width: 1439px){
    .parte1 {
        width: 100%;
        height: 36rem;
        background-image: url(../img/fundo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 0rem 0rem 5rem 5rem;
    }
    .minha-img img {
        width: 12rem;
    }
    .img-lada1 img {
        margin-left: 6rem;
    }
    .img-lada2 img {
        margin-top: -8rem;
        margin-left: 5rem;
    }
    .titulo-parte2 h1 {
        font-size: 1.5rem;
    }
    .parte3 {
        width: 100%;
        height: 91rem;
        background-image: url(../img/night_city_window_rain.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    iframe {
        width: 50rem;
        height: 26rem;
        border-radius: 2rem;
        border: 4px solid;
    }
    .emotes{
        display: none;
    }

    .quebra {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 2rem;
    }

    .block1-q, .block2-q {
        flex-direction: column;
    }

    .baixo-porjeto {
        width: 24rem;
        height: 6rem;
    }
    .im1, .im2, .im3, .im4, .im5, .im6 {
        width: 24rem;
        height: 14rem;
        border-radius: 2rem 2rem 0rem 0rem;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0rem;
        margin: 2rem 0rem 0rem 0rem;
    }
    .grupo-projeto {
        justify-content: center;
    }
    .grupo-projeto {
        display: flex;
        width: 100%;
    }
}

@media (max-width: 1024px){
    .meu-nome h1 {
        font-size: 1rem;
    }
    .minha-img img {
        width: 9rem;
    }
}

@media (max-width: 786px){

    .parte1{
        width: 100%;
        height: 32rem;
        background-image: url(../img/fundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0rem 0rem 3rem 3rem;
    }
    .meu-nome h1 {
        font-size: 1.5rem;
    }

    .minha-img img {
        width: 9rem;
        border: 5px solid;
        border-radius: 1rem;
    }

    .logo h1 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 600;
    }

    .conteiner-menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .logo-cor {
        color: #00B0DC;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 600;
    }
    .ulmenu {
        display: none;
    }
    .menu-section{
        display: block;
    }
    .menu-toggle{
        display: block;
    }
 
    .doisemum {
        display: none;
    }

    .alinhamento {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0rem 3rem 0rem 3rem;
    }
    .conteiner-parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-parte2 h1 {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }

    .texto1 p {
        max-width: 18rem;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
    .infos-tudo {
        display: flex;
        flex-direction: column;
    }

    .parte3 {
        width: 100%;
        height: 68rem;
        background-image: url(../img/night_city_window_rain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
        width: 14rem;
        background-color: #202024;
        height: 7rem;
        border: 2px solid rgb(85 85 85 / 72%);
        border-radius: 0.5rem;
    }

    iframe {
        width: 22rem;
        height: 15rem;
        border-radius: 2rem;
        border: 2px solid;
    }

    .titulo2-parte4 h1, .titulo2-parte4 a{
        font-size: 1rem;
        max-width: 19rem;
    }

    .grupo-projeto {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .im1, .im2, .im3, .im4, .im5, .im6 {
        width: 20rem;
        height: 11rem;
    }
    .baixo-porjeto {
        width: 20rem;
    }
    .barrastatus {
        background-color: #202024;
        display: flex;
        flex-flow: row wrap;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: space-evenly;
        gap: 2rem 1rem;
        padding: 3rem 3rem;
        margin-top: 5rem;
    }

    .emotes{
        display: none;
    }

    .block1-q, .block2-q{
        flex-direction: column;
    }
    .n1e {
        font-size: 0.7rem;
        font-weight: 900;
    }
    .n2e, .n3e {
        font-size: 0.6rem;
    }
    .formacao1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
        width: 13rem;
        height: 6rem;
    }
    .tudo-parte5 {
        justify-content: center;
    }

    .quebra {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 2rem;
    }

    .block2-q {
        margin-top: 0rem;
    }

    .cards-contato {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
    }

    .card1-contato a {
        margin-top: 3rem;
    }

    footer {
        background-color: #202024;
        width: 100%;
        height: 54rem;
    }

    .cards-pr-alinhamento {
        display: flex;
        flex-direction: column;
        width: inherit;
    }

    .logo{
        margin-left: 1rem;
    }
    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0px;
        top: 11px;
    }
    .wrapper {
        display: initial;
    }
}


@media (max-width: 518px){
    .parte3 {
        width: 100%;
        height: 123rem;
        background-image: url(../img/night_city_window_rain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrapper {
        display: initial;
    }
}

