:root {
    --background-dark: #1b1b1d;
    --primary-color: #202024; 
    --secondary-color:#00B0DC;
    --tertiary-color:black;
    --quaternary-color:white;
    --quinternary-color:#097dea;
    --font-family: 'Montserrat', sans-serif;
    --font-titles: 'Roboto', sans-serif;
}
